// Color scheme

$primary-color: #44C147;
$secondary-color: rgb(253, 255, 254);
$tetrairy-color:#707070;

$footer-bg-color: $primary-color;
$footer-bg-color-text:#313131;

$strong-color-scheme:#1F67AD;

$basic-font: 'Arimo', sans-serif;
$secondary-font: 'News Cycle', sans-serif;

